##
1. Combine the cricket datasets
2. Filter the data from two countries (country columnn) : India and Australia
3. Find the list of bowlers who have taken at least 25 wickets overall(sum).check if your results are correct 
  by comparing with sites such as CricInfo(.g wickets taken by the bowler who retired before 2020)
4. Take a random sample of 30 such indian bwlers and 30 australian bowlers
5. Find if the bowling average of these sampled Indians and Australians 
show a Statistical significance differnce (two-Sampled test)  
Bowling average = runs conceded/wickets takeb
6. Extend this to include one more country(eg England). Now find if the bowling average of these sampled Indian, Australian 
and english bowlers 
show the a statistically signigicant difference(ANOVA)

In [530]:
import pandas as pd

In [532]:
df_1 = pd.read_csv('Men ODI Player Innings Stats - 20th Century.csv')
df_2 = pd.read_csv('Men ODI Player Innings Stats - 21st Century.csv')

In [533]:
df = pd.concat([df_1,df_2])

In [536]:
df

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,RA Smith,167*,167,208,1.0,1.0,163,17,3,102.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DI Gower,158,158,177,1.0,0.0,118,18,4,133.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CWJ Athey,142*,142,208,1.0,1.0,172,14,0,82.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GA Gooch,142,142,-,1.0,0.0,134,14,0,105.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DL Amiss,137,137,-,1.0,0.0,147,18,0,93.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327323,Najibullah Zadran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327324,Rahmat Shah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327325,Hazratullah Zazai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327326,Ibrahim Zadran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
327327,Ikram Alikhil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-

In [538]:
df.columns

Index(['Innings Player', 'Innings Runs Scored', 'Innings Runs Scored Num',
       'Innings Minutes Batted', 'Innings Batted Flag', 'Innings Not Out Flag',
       'Innings Balls Faced', 'Innings Boundary Fours',
       'Innings Boundary Sixes', 'Innings Batting Strike Rate',
       'Innings Number', 'Opposition', 'Ground', 'Innings Date', 'Country',
       '50's', '100's', 'Innings Runs Scored Buckets', 'Innings Overs Bowled',
       'Innings Bowled Flag', 'Innings Maidens Bowled',
       'Innings Runs Conceded', 'Innings Wickets Taken', '4 Wickets',
       '5 Wickets', '10 Wickets', 'Innings Wickets Taken Buckets',
       'Innings Economy Rate'],
      dtype='object')

In [540]:
df_country= df[(df['Country'] == 'India') | (df['Country'] == 'Australia')]

In [542]:
df_country

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
3542,AC Gilchrist,154,154,191,1.0,0.0,129,14,4,119.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3543,DM Jones,145,145,157,1.0,0.0,136,12,4,106.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3544,RT Ponting,145,145,189,1.0,0.0,158,18,1,91.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3545,GS Chappell,138*,138,168,1.0,1.0,109,10,1,126.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3546,AC Gilchrist,131,131,166,1.0,0.0,118,10,2,111.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277077,MK Pandey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
277078,MA Agarwal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
277079,KL Rahul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
277080,SS Iyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-
277081,PP Shaw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,-,1.0,0.0,0.0,-,-

In [544]:
df_country['Country']

3542      Australia
3543      Australia
3544      Australia
3545      Australia
3546      Australia
            ...
277077        India
277078        India
277079        India
277080        India
277081        India
Name: Country, Length: 87158, dtype: object

In [546]:
#Find the list of bowlers who have taken at least 25 wickets overall(sum).
#check if your results are correct by comparing with sites such as CricInfo
#(.g wickets taken by the bowler who retired before 2020)

In [548]:
df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].replace('-' , 0)
df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].replace('Nan' , 0)
df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].replace('' , 0)
df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].astype(int)

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_692\1797479515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].replace('-' , 0)
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_692\1797479515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].replace('Nan' , 0)
C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_692\1797479515.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['Innings Wickets Taken'] = df_country['Innings Wickets Taken'].replace('' , 0)

ValueError: cannot convert float NaN to integer

In [550]:
df_country

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
3542,AC Gilchrist,154,154,191,1.0,0.0,129,14,4,119.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3543,DM Jones,145,145,157,1.0,0.0,136,12,4,106.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3544,RT Ponting,145,145,189,1.0,0.0,158,18,1,91.77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3545,GS Chappell,138*,138,168,1.0,1.0,109,10,1,126.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3546,AC Gilchrist,131,131,166,1.0,0.0,118,10,2,111.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277077,MK Pandey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
277078,MA Agarwal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
277079,KL Rahul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
277080,SS Iyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
277081,PP Shaw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-

In [552]:
df_group = df_country.groupby('Innings Player')

In [554]:
total_wickets = df_group['Innings Wickets Taken'].sum()

TypeError: can only concatenate str (not "int") to str

In [556]:
total_wickets = total_wickets[total_wickets > 25]

In [558]:
type(total_wickets)

pandas.core.series.Series

In [564]:
df_country = pd.merge(df_country,total_wickets , on = 'Innings Player' , how = 'left')

In [566]:
df_country

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken_x,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,Innings Wickets Taken_y,Innings Wickets Taken
0,A Kumble,26,26,62,1.0,0.0,44,0,0,59.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454,454
1,A Kumble,24,24,63,1.0,0.0,39,3,0,61.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454,454
2,A Kumble,21,21,48,1.0,0.0,34,2,0,61.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454,454
3,A Kumble,20,20,28,1.0,0.0,20,0,1,100.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454,454
4,A Kumble,19*,19,52,1.0,1.0,33,0,0,57.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454,454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51774,Z Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,72,0,1.0,0.0,0.0,0-4,10.28,771,771
51775,Z Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,88,0,1.0,0.0,0.0,0-4,8.80,771,771
51776,Z Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,0,1.0,0.0,0.0,-,-,771,771
51777,Z Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,0,1.0,0.0,0.0,-,-,771,771
51778,Z Khan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,0,1.0,0.0,0.0,-,-,771,771

In [512]:
df_country

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken_x,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate,Innings Wickets Taken_y
0,GS Chappell,138*,138,168,1.0,1.0,109,10,1,126.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72
1,ME Waugh,130,130,205,1.0,0.0,144,7,3,90.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89
2,ME Waugh,130,130,167,1.0,0.0,128,14,1,101.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89
3,AR Border,127*,127,190,1.0,1.0,140,13,0,90.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73
4,ME Waugh,126,126,195,1.0,0.0,135,8,3,93.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51774,KM Jadhav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-,-,0,1.0,0.0,0.0,-,-,81
51775,KM Jadhav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-,-,0,1.0,0.0,0.0,-,-,81
51776,KM Jadhav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-,-,0,1.0,0.0,0.0,-,-,81
51777,KM Jadhav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-,-,0,1.0,0.0,0.0,-,-,81
51778,KM Jadhav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,-,-,0,1.0,0.0,0.0,-,-,81

In [ ]:
df_India =  df_country[df_country['Country'] == 'India'] & df['']

Empty DataFrame
Columns: [Innings Player, Innings Runs Scored, Innings Runs Scored Num, Innings Minutes Batted, Innings Batted Flag, Innings Not Out Flag, Innings Balls Faced, Innings Boundary Fours, Innings Boundary Sixes, Innings Batting Strike Rate, Innings Number, Opposition, Ground, Innings Date, Country, 50's, 100's, Innings Runs Scored Buckets, Innings Overs Bowled, Innings Bowled Flag, Innings Maidens Bowled, Innings Runs Conceded, Innings Wickets Taken, 4 Wickets, 5 Wickets, 10 Wickets, Innings Wickets Taken Buckets, Innings Economy Rate]
Index: []

[0 rows x 28 columns]

In [385]:
df_India =  df_country[df_country['Country'] == 'India'].sample(n=30,random_state=42)

In [387]:
df_Australia =  df_country[df_country['Country'] == 'Australia'].sample(n=30,random_state=42)

In [389]:
df_India

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
34380,RK Chauhan,0,0,6,1.0,0.0,1,0,0,0.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
40726,KL Rahul,9*,9,-,1.0,1.0,18,0,0,50.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
55398,RP Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,1.0,0,22,0,1.0,0.0,0.0,0-4,3.66
150131,Harbhajan Singh,7*,7,7,1.0,1.0,5,1,0,140.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
261532,RA Jadeja,DNB,-,-,0.0,0.0,-,-,-,-,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
41028,JJ Bumrah,6*,6,-,1.0,1.0,1,0,1,600.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
166226,RR Powar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,TDNB,0.0,-,-,0,1.0,0.0,0.0,-,-
150001,Yuvraj Singh,9,9,30,1.0,0.0,19,0,0,47.36,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
47376,CS Pandit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
259409,M Kaif,5*,5,14,1.0,1.0,9,0,0,55.55,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
46659,SA Ankola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,1.0,0,45,0,1.0,0.0,0.0,0-4,4.50
53041,MM Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,1.0,2,22,4,1.0,0.0,0.0,0-4,2.75
34284,WV Raman,0,0,1,1.0,0.0,2,0,0,0.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
57867,G Gambhir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
58570,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
149762,Z Khan,11*,11,25,1.0,1.0,14,1,0,78.57,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
32246,M Azharuddin,17,17,-,1.0,0.0,53,1,0,32.07,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
162467,P Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,1.0,3,37,3,1.0,0.0,0.0,0-4,3.70
41988,PP Ojha,0*,0,6,1.0,1.0,3,0,0,0.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
41647,Z Khan,2,2,4,1.0,0.0,4,0,0,50.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
45975,K Srikkanth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,0,18,0,1.0,0.0,0.0,0-4,4.50
258356,R Dravid,18,18,17,1.0,0.0,14,2,0,128.57,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
275593,G Gambhir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-
39749,Yuvraj Singh,24,24,16,1.0,0.0,10,3,1,240.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
39755,MS Dhoni,24,24,23,1.0,0.0,23,5,0,104.34,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
150144,Mohammed Shami,7*,7,4,1.0,1.0,4,1,0,175.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
259941,V Kohli,2,2,5,1.0,0.0,8,0,0,25.00,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
150384,HK Badani,5,5,3,1.0,0.0,3,1,0,166.66,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
152326,V Kohli,TDNB,-,-,0.0,0.0,-,-,-,-,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
56403,D Mongia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,-,0,1.0,0.0,0.0,-,-

In [391]:
#Find if the bowling average of these sampled Indians and Australians show a Statistical significance differnce (two-Sampled test)
#Bowling average = runs conceded/wickets takeb

In [424]:
df_India['Innings Runs Conceded'] = df_India['Innings Runs Conceded'].replace('-' , 0)
df_India['Innings Runs Conceded'] = df_India['Innings Runs Conceded'].replace('NaN' , 0)

In [426]:
df_India

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
34380,RK Chauhan,0,0,6,1.0,0.0,1,0,0,0.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
40726,KL Rahul,9*,9,-,1.0,1.0,18,0,0,50.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
55398,RP Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,1.0,0,22,0,1.0,0.0,0.0,0-4,3.66
150131,Harbhajan Singh,7*,7,7,1.0,1.0,5,1,0,140.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
261532,RA Jadeja,DNB,-,-,0.0,0.0,-,-,-,-,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
41028,JJ Bumrah,6*,6,-,1.0,1.0,1,0,1,600.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
166226,RR Powar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,TDNB,0.0,-,0,0,1.0,0.0,0.0,-,-
150001,Yuvraj Singh,9,9,30,1.0,0.0,19,0,0,47.36,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
47376,CS Pandit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
259409,M Kaif,5*,5,14,1.0,1.0,9,0,0,55.55,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
46659,SA Ankola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,1.0,0,45,0,1.0,0.0,0.0,0-4,4.50
53041,MM Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,1.0,2,22,4,1.0,0.0,0.0,0-4,2.75
34284,WV Raman,0,0,1,1.0,0.0,2,0,0,0.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
57867,G Gambhir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
58570,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
149762,Z Khan,11*,11,25,1.0,1.0,14,1,0,78.57,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
32246,M Azharuddin,17,17,-,1.0,0.0,53,1,0,32.07,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
162467,P Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,1.0,3,37,3,1.0,0.0,0.0,0-4,3.70
41988,PP Ojha,0*,0,6,1.0,1.0,3,0,0,0.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
41647,Z Khan,2,2,4,1.0,0.0,4,0,0,50.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
45975,K Srikkanth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,0,18,0,1.0,0.0,0.0,0-4,4.50
258356,R Dravid,18,18,17,1.0,0.0,14,2,0,128.57,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
275593,G Gambhir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
39749,Yuvraj Singh,24,24,16,1.0,0.0,10,3,1,240.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
39755,MS Dhoni,24,24,23,1.0,0.0,23,5,0,104.34,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
150144,Mohammed Shami,7*,7,4,1.0,1.0,4,1,0,175.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
259941,V Kohli,2,2,5,1.0,0.0,8,0,0,25.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
150384,HK Badani,5,5,3,1.0,0.0,3,1,0,166.66,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
152326,V Kohli,TDNB,-,-,0.0,0.0,-,-,-,-,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
56403,D Mongia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-

In [428]:
df_India['Innings Runs Conceded'] = df_India['Innings Runs Conceded'].astype(int)

In [430]:
df_India

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
34380,RK Chauhan,0,0,6,1.0,0.0,1,0,0,0.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
40726,KL Rahul,9*,9,-,1.0,1.0,18,0,0,50.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
55398,RP Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,1.0,0,22,0,1.0,0.0,0.0,0-4,3.66
150131,Harbhajan Singh,7*,7,7,1.0,1.0,5,1,0,140.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
261532,RA Jadeja,DNB,-,-,0.0,0.0,-,-,-,-,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
41028,JJ Bumrah,6*,6,-,1.0,1.0,1,0,1,600.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
166226,RR Powar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,TDNB,0.0,-,0,0,1.0,0.0,0.0,-,-
150001,Yuvraj Singh,9,9,30,1.0,0.0,19,0,0,47.36,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
47376,CS Pandit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
259409,M Kaif,5*,5,14,1.0,1.0,9,0,0,55.55,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
46659,SA Ankola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,1.0,0,45,0,1.0,0.0,0.0,0-4,4.50
53041,MM Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,1.0,2,22,4,1.0,0.0,0.0,0-4,2.75
34284,WV Raman,0,0,1,1.0,0.0,2,0,0,0.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
57867,G Gambhir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
58570,RG Sharma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
149762,Z Khan,11*,11,25,1.0,1.0,14,1,0,78.57,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
32246,M Azharuddin,17,17,-,1.0,0.0,53,1,0,32.07,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
162467,P Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,1.0,3,37,3,1.0,0.0,0.0,0-4,3.70
41988,PP Ojha,0*,0,6,1.0,1.0,3,0,0,0.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
41647,Z Khan,2,2,4,1.0,0.0,4,0,0,50.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
45975,K Srikkanth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,0,18,0,1.0,0.0,0.0,0-4,4.50
258356,R Dravid,18,18,17,1.0,0.0,14,2,0,128.57,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
275593,G Gambhir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-
39749,Yuvraj Singh,24,24,16,1.0,0.0,10,3,1,240.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
39755,MS Dhoni,24,24,23,1.0,0.0,23,5,0,104.34,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
150144,Mohammed Shami,7*,7,4,1.0,1.0,4,1,0,175.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
259941,V Kohli,2,2,5,1.0,0.0,8,0,0,25.00,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
150384,HK Badani,5,5,3,1.0,0.0,3,1,0,166.66,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
152326,V Kohli,TDNB,-,-,0.0,0.0,-,-,-,-,...,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
56403,D Mongia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,DNB,0.0,-,0,0,1.0,0.0,0.0,-,-

In [440]:
df_India['Innings Runs Conceded'].dtype

dtype('int32')

In [442]:
df_India['Innings Wickets Taken'].dtype

dtype('int32')