In [14]:
#How to generate synthetic / random data 
import pandas as pd
import numpy as np
import random

In [16]:
#Set random sedd for reproducibility
np.random.seed(42)
random.seed(42)

In [22]:
#Function to generate random names

def generate_names():
    vowels = 'aeiou'
    consonants= 'qwrtyuplkjshdgfzxcbvnm'
    name = ''.join(random.choice(consonants) + random.choice(vowels) + random.choice(consonants) for _ in range(random.randint(2,3)))
    return name.capitalize()

In [26]:
#GEnerate data for dataframe
data = {
    'name' : [generate_names() for _ in range(25)],
    'age': np.random.randint(18,65,size=25),
    'own_house?': np.random.randint(0,2,size=25),
    'is_married' : np.random.randint(0,2,size=25),
    'has_existing_loan': np.random.randint(0,2,size=25)

}
data

{'name': ['Kopceb',
  'Logpatmoh',
  'Gowmawdit',
  'Pecfeg',
  'Kolroc',
  'Wuqreu',
  'Zopdaudad',
  'Figcoypip',
  'Buwsaw',
  'Xuuwuruav',
  'Medtul',
  'Vagmub',
  'Kemsekdem',
  'Firqovbar',
  'Xiyhal',
  'Jefcivnuq',
  'Maykatcek',
  'Vespixziw',
  'Nokwas',
  'Niufug',
  'Taycah',
  'Gewjiw',
  'Pemticguy',
  'Uegqes',
  'Mekuadwol'],
 'age': array([53, 31, 48, 32, 25, 31, 40, 57, 38, 33, 62, 35, 64, 41, 43, 42, 62,
        58, 46, 32, 62, 18, 42, 24, 26]),
 'own_house?': array([1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 1, 1]),
 'is_married': array([0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 1]),
 'has_existing_loan': array([0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
        0, 0, 0])}

In [30]:
df = pd.DataFrame(data)
df

         name  age  own_house?  is_married  has_existing_loan
0      Kopceb   53           1           0                  0
1   Logpatmoh   31           0           1                  0
2   Gowmawdit   48           1           0                  0
3      Pecfeg   32           1           0                  0
4      Kolroc   25           1           1                  0
5      Wuqreu   31           0           1                  1
6   Zopdaudad   40           0           0                  1
7   Figcoypip   57           0           0                  1
8      Buwsaw   38           0           1                  0
9   Xuuwuruav   33           1           1                  0
10     Medtul   62           0           1                  0
11     Vagmub   35           0           0                  1
12  Kemsekdem   64           0           0                  0
13  Firqovbar   41           0           0                  0
14     Xiyhal   43           0           0                  1
15  Jefcivnuq   42           1           0                  0
16  Maykatcek   62           0           0                  1
17  Vespixziw   58           1           1                  1
18     Nokwas   46           0           0                  1
19     Niufug   32           1           0                  0
20     Taycah   62           0           0                  0
21     Gewjiw   18           0           1                  0
22  Pemticguy   42           1           0                  0
23     Uegqes   24           1           0                  0
24  Mekuadwol   26           1           1                  0

In [32]:
#Save dataframe to csv file
df.to_csv('decision_tree_data.csv', index=False)
print(df)

         name  age  own_house?  is_married  has_existing_loan
0      Kopceb   53           1           0                  0
1   Logpatmoh   31           0           1                  0
2   Gowmawdit   48           1           0                  0
3      Pecfeg   32           1           0                  0
4      Kolroc   25           1           1                  0
5      Wuqreu   31           0           1                  1
6   Zopdaudad   40           0           0                  1
7   Figcoypip   57           0           0                  1
8      Buwsaw   38           0           1                  0
9   Xuuwuruav   33           1           1                  0
10     Medtul   62           0           1                  0
11     Vagmub   35           0           0                  1
12  Kemsekdem   64           0           0                  0
13  Firqovbar   41           0           0                  0
14     Xiyhal   43           0           0                  1
15  Jefcivnuq   42           1           0                  0
16  Maykatcek   62           0           0                  1
17  Vespixziw   58           1           1                  1
18     Nokwas   46           0           0                  1
19     Niufug   32           1           0                  0
20     Taycah   62           0           0                  0
21     Gewjiw   18           0           1                  0
22  Pemticguy   42           1           0                  0
23     Uegqes   24           1           0                  0
24  Mekuadwol   26           1           1                  0